* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    width: 100%;
    height:100%; 
}

body {
    font: 13px Helvetica, Arial;
    background-image: url("../img/christmas.jpg");
    background-size: cover;    
    height: 100%;
    width: auto; 
    margin: 0;
    color: white;
}

#bodyDiv{
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 100%;
    width: auto;
    margin: 0;
    font: 13px Helvetica, Arial;    
}


.heading {
    text-align: center;
}

form {
    position: relative;
    width: 144.4%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    height: 100%;
}

form input {
    border: 0;
    border-bottom-left-radius: 5px;
    padding: 10px;
    width: 93%;
    margin: 0;
    float: left;
    height:100%;

}
form input:focus{
    outline:none;
}

form button {
    height:100%;
    width: 7%;
    height: 100%;
    border: 0;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 5px;
    background:#e0e2e5;
    pointer-events: none;
    position: relative;
    
}
form button:hover{
    cursor: pointer;
}

#outerdiv {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 1.3%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: auto;
}


#messagediv {
    /*overflow: hidden;*/
    width: 65%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#partnerdiv {
    /*width: 12%;*/
    /*float: left;*/
    /*margin-left: 2%;*/
    /*margin-right: auto;*/
}

#mydiv {
    /*width: 12%;*/
    float: right;
    /*margin-right: 0%;*/
    /*margin-left: auto;*/
}

#outerdiv img.emojione{
    height:18px;
    width: auto;
}

#outerdiv img.emojioneemoji{
    height: 18px;
    width: auto;
}

#outerdiv img{
    width: 100%;
    max-width: 130px;
    height: auto;
    border-radius:65px;
}




#messages {
    overflow-y: auto;
    position: relative;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0;
    background-color:rgba(242,234,222,0.5) ;/*#f2eade;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    word-wrap: break-word;    

}

#messages:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#messages .me {
    padding: 5px 10px;
    width: max-content;
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 90%;
    font-size: 1.2em;
    /* background: #f72702; */
}

#messages .partner {
    padding: 5px 10px;
    width: max-content;
    margin-right: auto;
    max-width: 90%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2em;

}

.emoji{
    height:18px;
}

#newMessage {
    width: 70%;
    height: 5%;
}




#m{
    pointer-events: none;
    font-size: 1.5em;
    background:#e0e2e5;
}

#messages::-webkit-scrollbar {
    width: 1em;
}
 
#messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#messages::-webkit-scrollbar-thumb {
  background-color: #9b4949;
  outline: 1px solid #9b4949;
}

#canvas{
    position: absolute;
    z-index: 1;
}
#istyping{
    color: white;
    visibility:hidden;
}


div.emojionearea{
    width: 92%; 
    float: left;
}

div.emojionearea-inline{
    width: 92%; 
}

.no-margin {
    margin: 0px !important;
}

h2,h3 {
    font-size: medium;
}

#m {
    color: initial;
    font-size: 1.2em;
}

#canvas {
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width: 500px) {
    .align-left {
        width: 50%;
        display: inline-block;
    }
    #partnerdiv #partnerimg, #mydiv #myimg {
        width: 50%;
        display: inline-block;
        vertical-align: top !important;
        height: 50px !important;
        border-radius: 25px;
        max-width: 50px !important;
        float: right;
    }
    #partnerdiv h3, #mydiv h3 {
        margin: 0px;
    }
    #messagediv {
        height: 60%;
    }
    #mydiv {
        float: left;
    }
}
