* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font: 13px Helvetica, Arial;
    background-image: url("/images/minimal-forest.jpg");
}

.heading {
    text-align: center;
}

form {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    width: 50%;
    left: 25%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;

}

form input {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 93%;
    margin: 0;
    float: left;
}

form button {
    width: 7%;
    background: #ededed;
    border: 0;
    padding: 10px;
    margin: 0;
    border-radius: 5px;

}

#outerdiv {
    overflow: hidden;
    width: 100%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#outerdiv img{
    border-radius:65px;
}


#messages {
    overflow-y: scroll;
    position: relative;
    list-style-type: none;
    width: 40%;
    height: 400px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0;
    background-color: #f2eade;
    /*background-image: url("/images/backrand.jpg");*/
    /*background-position: center;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

#messages:hover {

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#messages #me {
    /*float : right;*/
    /*display: box;*/
    padding: 5px 10px;
    width: max-content;
    margin-left: auto;
    margin-right: 0;
    background: #99db9a;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/

}

#messages #partner {
    padding: 5px 10px;
    background: #eee;
    width: max-content;
    margin-left: 0;
    margin-right: auto;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #e0e0e0;

}

#partnerinfo{
    position: absolute;
    left:5%;
}
#myinfo{
    position: absolute;
    right:5%;
}
